html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Vina, sans-serif;
  color: #ffffff;
}
/* Layout Styles */
#wrapper, #pagewrapper {
  text-align: left;
  font-family: Vina, sans-serif;
  border: 1px solid #a32cc4;
  border-top-width: 1px;
  width: 900px;
  margin: 1em auto -1em;
  overflow: auto;
}
#wrapper {
  background: url("site-img/main-bg.jpg") no-repeat;
}
#pagewrapper {
  background: url("../site-img/content-bg.jpg") no-repeat;
}
.container {
  display: flex;
  margin-top: 10%;
  margin-bottom: 3%;
}
.column-nav {
  width: 20%;
 /* Adjust width as needed */
  margin: 2% auto;
}
.column-main {
  width: 77%;
 /* Adjust width as needed */
  margin-top: 50px;
  padding-left: 5%;
  float: right;
}
.column {
  flex: 50%;
 /* Adjust width as needed */
  margin-top: 50px;
}
/* Element colors and styles */
#endowment {
  text-align: center;
  color: #99ff00;
}
.center {
  text-align: center;
}
.item, .itemb, .createtxt, .createtxtb, .small, .itemc, .itemsm, .pageitem, .pageitemh, .pageitemlg, .success, .form, .formreq, .formreqa, .formcc {
  font-family: "Vina Sans", sans-serif;
  font-size: 12px;
  color: #ffffff;
}
.itemlg {
  font-size: 18px;
}
.warning, .warnsm {
  font-weight: bold;
  color: #f8f400;
}
.warnsm {
  font-size: 9px;
}
.error {
  font-weight: bold;
  color: #ff0000;
  text-align: center;
}
/* Diceroller colors */
.success, .failure, .botch, .willpower {
  font-weight: bold;
}
.success {
  color: #99ff00;
}
.failure {
  color: #ffff00;
}
.botch {
  color: #ff0000;
}
.willpower {
  color: #00ccff;
}
.spend {
  color: #efd9a7;
}
/* Main Site Attributes*/
.itemb, .createtxtb, .pageitemh {
  font-weight: bold;
}
.small {
  font-size: 9px;
  color: #ffffff;
}
a:link, a:visited, a:hover, a:active {
  font-family: Vina, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #000000;
  background-color: #cccccc;
}
.form, .formreq, .formreqa, .formcc {
  border: thin solid #a32cc4;
  background-color: #000000;
}
.formreqa {
  border-color: #ff0000;
  background-color: #999999;
  color: #000000;
}
.pagetopic {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}
